.App {
  text-align: center;
} 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 books per row */
  gap: 20px; /* Space between each book */
  padding: 20px;
}

.book-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.book-image {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.book-card h2 {
  font-size: 1.25em;
  margin: 10px 0;
}

.book-card p {
  margin: 5px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-list {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center; /* Align the pagination buttons and numbers vertically */
}

.page-item {
  display: inline;
  margin: 0 3px; /* Reduce the space between pagination numbers */
}

.page-link {
  padding: 5px 10px; /* Reduce padding for smaller page numbers */
  font-size: 12px; /* Reduce font size */
  border: 1px solid #007bff;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px; /* Slightly reduce border-radius */
}

.page-link.active {
  background-color: #007bff;
  color: white;
}

.page-link:hover {
  background-color: #0056b3;
  color: white;
}

.pagination .page-item:first-child .page-link {
  margin-right: 10px; /* Add space between 'Previous' and first page number */
}

.pagination .page-item:last-child .page-link {
  margin-left: 10px; /* Add space between last page number and 'Next' */
}

.pagination .page-item a {
  min-width: 50px; /* Make sure the 'Previous' and 'Next' buttons are of similar width */
  text-align: center;
}